[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
tensorflow = "*"
types-tensorflow = "*"
keras = "*"

[dev-packages]
mypy = "*"
isort = "*"
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.11"
