[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
types-tensorflow = "*"
numpy = "*"
pandas = "*"
pandas-stubs = "*"
tensorflow = "*"
keras = "*"
tqdm = "*"
types-tqdm = "*"
scikit-learn = "*"
hyperopt = "*"

[dev-packages]
mypy = "*"
isort = "*"
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.11"
