[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
isort = "*"
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.12"
